html {
    font-size: 16px;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    line-height: 160%;
}

html *, html::after, html::before {
    box-sizing: inherit;
}

a, li {
    outline: 0;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}

.button, .delete, .file, .modal-card-close-button, .modal-close-button, .nav-bar-button, 
.pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .tabs {
    user-select: none;
    -webkit-user-select: none;
}

/* header styles */
.header-holder {
    flex-shrink: 0;
}

#headerAreaHolder {
    line-height: normal;
    border-bottom: 1px solid gray;
}

/* helper styles */
.nav-bar-item.has-spacing {
    margin: 0 .5rem;
}

#affixed-left-container {
    z-index: 1;
}

.mainContainer {
    flex-grow: 1;
    flex-shrink: 1;
}

.uhf-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.tree ul, ul.tree {
    list-style-type: none;
    margin-bottom: 0;
}
.tree {
    position: relative;
    font-size: .875rem;
}
.is-flex-column {
    flex-direction: column;
}

.is-fixed {
    position: fixed;
}

.is-flex {
    display: flex !important;
}
.has-top-padding.uhf-container {
    padding-top: 1.5rem;
}

/* navigation items */
.nav-bar {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 54px;
    min-height: 54px;
    z-index: 100;
    justify-content: space-between;
}

.nav-bar-item.is-category::before {
    content: "";
    display: inline-block;
    height: 1.5em;
    border-left: 2px solid hsla(0,0%,37%,1);
    margin-left: .5rem;
    margin-right: 1rem;
}
.nav-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 54px;
    padding: 0 .5rem;
    background-color: transparent;
    color: white;
    text-decoration: none !important;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: normal;
    cursor: pointer;
    outline-offset: -.125rem !important;
}

.has-hover-underline:hover {
    text-decoration: underline;
}

a.nav-bar-button {
    background-size: contain;
}

.nav-bar-nav {
    display: flex;
    align-items: stretch;

}

.nav-bar-nav-list {
    display: flex;
    align-items: stretch;
    list-style: none;

}

.nav-bar-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

/* theme classes */
.theme-dark {
    background-color: hsla(0, 0%, 9%, 1) !important;
    color: #e3e3e3 !important;
}

.theme-light {
    background-color: hsla(0, 0%, 100%, 1);
    color: hsla(0, 0%, 9%, 1);
}

@media print, screen and (min-width: 1084px) {
    .uhf-container:not(.has-padding) {
        max-width: calc(100% - 10vw);
    }
}